@{
    ViewBag.Title = "Home Page";
}
<div class="fixed-bg mt30"></div>
<div class="row">
    <div class="list-item-img mt30">
        <div class="col-md-4">
            <div class="view-item">
                <img class="img-responsive" src="../images/img-view1.jpg" />
                <div class="content">
                    <h2>Hover Style #9</h2>
                    <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    <a href="#" class="info">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="view-item">
                <img class="img-responsive" src="../images/img-view2.jpg" />
                <div class="content">
                    <h2>Hover Style #9</h2>
                    <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    <a href="#" class="info">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="view-item">
                <img class="img-responsive" src="../images/img-view3.jpg" />
                <div class="content">
                    <h2>Hover Style #9</h2>
                    <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    <a href="#" class="info">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<h2 class="decs">CSS3 Rounded Corner</h2>
<div class="image-content"><img class="imag-circle-content" src="~/images/img-view1.jpg" width="200" height="200" /> <img class="imag-border5-content" src="~/images/img-view1.jpg" width="200" height="200" />
    <img class="image-content-2"/></div>
<h2 class="decs">CSS3 Background Image</h2>
<div class="bg-content-img">
    <h1 class="txt">Lorem Ipsum Dolor</h1>
    <p class="txt">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
    <p class="txt">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
</div>
<h2 class="decs">CSS3 Transition</h2>
<div class="transition-content" width="200" height="150"></div>


